.unsocial-mystory .multirecommend {
    opacity: 0 !important;
    transition: opacity 0.1s ease-in;
}

/* hide meta functions everywhere on medium */
.unsocial .unsocial-display-none,
.unsocial .popover--menu .list-item:nth-child(2), /* stats link in article menu */
.unsocial .notificationsList-actions .u-floatRight,
.unsocial .popover--userActions .list-item:nth-of-type(6), /* stats link in profile menu */
.unsocial .dl.gb.t.gc.by .dl:nth-of-type(6), /* stats link in profile menu on profile page */ 
/* only hide social "features" on your own articles */
.unsocial-mystory .postMetaHeader-socialProof2,
.unsocial-mystory .multirecommend,
.unsocial-mystory .be.j, /* followers on profile page */ 
.unsocial-mystory .du.t.co.u /* claps on profile page */ {
    display: none !important;
}

.unsocial .button.button--activity.button--filled {
    background: transparent;
}
.unsocial .button.is-active > .button-defaultState {
    display: inline-block;
}
.unsocial .button--activity .svgIcon {
    fill: rgba(0,0,0,.54);
}
.unsocial .button.button--withIcon.is-active > .button-activeState {
    display: none;
}